﻿<!DOCTYPE html>
<html>
<head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />*
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <title>@ViewData["Title"] - Promotions Web App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="~/lib/materialize/css/materialize.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/js/jquery.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/pdf.js/pdf.js"></script>
    <script src="~/js/docViewer.js"></script>


 
    @RenderSection("header", required: false)
</head>
<body>
    <header>
        <ul id="sidenav_menu" class="sidenav">
            <li><a asp-controller="Home" asp-action="Index">Promotions Web App</a></li>
            <li><div class="divider"></div></li>
            @if (User.IsInRole("Staff"))
            {
                <li><a asp-controller="Home" asp-action="Index">Profile</a></li>
                <li><a asp-controller="Promotions" asp-action="Index">Promotions</a></li>
            }
            @if (User.IsInRole("HOD") || User.IsInRole("Dean"))
            {
                <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Staff" asp-action="Index">Staff</a></li>
                <li><a asp-controller="Promotion" asp-action="Index">Inbox</a></li>
            }
            @if (User.IsInRole("IFEC") || User.IsInRole("PSPC"))
            {
                <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Promotion" asp-action="Index">Inbox</a></li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Staff" asp-action="Index">Staff</a></li>
                <li><a asp-controller="Vendor" asp-action="Index">Users</a></li>
                <li><a asp-controller="Account" asp-action="Index">Settings</a></li>
            }

        </ul>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue darken-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-target="sidenav_menu" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                    }
                    <a asp-action="Index" asp-controller="Home" class="brand-logo center"><img src="~/images/cenoredLogoSmall.jpg" style="max-width:60%;" /></a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a asp-action="Profile" asp-controller="Account" asp-route-userId="@User.Identity.Name">Account</a></li>
                        <li>
                            <a asp-action="Logout" asp-controller="Account">
                                <span class="material-icons">
                                    logout
                                </span>
                                Log Out
                            </a>
                        </li>
                    </ul>
                    <ul class="right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Dropdown Trigger -->
                            <li><a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons right">account_circle</i></a></li>

                        }
                        else
                        {
                            <li>
                                <a asp-action="Login" asp-controller="Account">
                                    <span class="material-icons md-dark md-24">
                                        login
                                    </span>
                                    Log In
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <div class="container">
            <div class="overlay" style="z-index:99998;">
                <div id="loader" class="centered" style="z-index: 99999; margin: 15% 20%;">
                    <div class="card-panel white darken-3 center-align">
                        <h4 class="center-align" id="loadText">Default Preloader</h4>
                        <div class="divider"></div><br />
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()

            <div id="pdfViewerModal" class="modal grey lighten-5">
                <div class="modal-content">
                    <div>
                        <button id="prev">Previous</button>
                        <button id="next">Next</button>
                        &nbsp; &nbsp;
                        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                    </div>

                    <canvas id="documentViewer" style="border: 1px solid black; direction: ltr;"></canvas>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect red btn-flat"><h6>Cancel</h6></a>
                </div>
            </div>

            <div id="confirmationModal" class="modal grey lighten-5">
                <div class="modal-content">
                    <h2 class="center-align" id="confirmModalHeader">Modal Header</h2>
                    <h5 class="center-align" id="confirmModalText">A bunch of text</h5>
                    <h5 class="center-align" id="confirmModalQuestion"></h5>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect red btn-flat"><h6>Cancel</h6></a>
                    <a href="#!" id="confirmSubmitBtn" class="waves-effect green btn-flat"><h6>Confirm</h6></a>
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Promotions Web App
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
            $('.modal').modal();
            $('.fixed-action-btn').floatingActionButton();
            $('.tooltipped').tooltip();
            $('.collapsible').collapsible();
            $('.datepicker').datepicker({
                onOpen: function () {
                    var instance = M.Datepicker.getInstance($('.datepicker'));
                    instance.options.maxDate = new Date();
                    instance.options.format = 'dd/mm/yyyy';
                }
            });
            var source = '@(ViewData["Toast"])';
            if (source != "") {
                M.toast({html: source})
            }
            var error = '@(TempData["Error"])';
            if (error != "" && error != null) {
                M.toast({html: error})
            }
            $('.normalSelect').formSelect();

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
